:root {
    --color-1: #172755;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', monospace;
}

body {
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(171deg, #172755 75%, #EF2A82 75%, #EF2A82 77%, #f2f2f2 77%, #f2f2f2);
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.brand-and-logo {
    display: inline-flex;
    align-items: center;
}

.logo {
    height: 1.9em;
    width: 1.9em;
}

.navbar-brand {
    color: #FFFFFF;
    margin: 2em 0.5em;
}

.nav-elements2 {
    z-index: 10;
    display: none;
}

.nav-elements ul li {
    display: inline-block;
}

.nav-link {
    display: block;
	font-size: 16px;
	color: #8794BA;
    margin: 0 1em;
	text-transform: capitalize;
	transition: all 0.5s ease;
}

.nav-link:hover, .nav-link:active {
    color: #FFFFFF;
}

#nav-check{
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.nav-toggler{
    box-shadow: 0 0 1px white;
	height: 34px;
	width: 44px;
	background-color: var(--color-1);
	border-radius: 4px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.nav-toggler span{
	display: block;
	height: 2px;
	width: 20px;
	background-color: #8794BA;
	position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #8794BA;
   left:0;
}
.nav-toggler span::before{
	top: -6px;
}
.nav-toggler span::after{
	top: 6px;
}

.sign-in {
    display: inline-flex;
    align-items: center;
}

.sign-in span {
    color: #8794BA;
}

#sign-up {
    border: 1px solid #465B95;
    background-color: #172755;
    color: #8794BA;
    padding: 0.8em 3.4em;
    border-radius: 4em;
    margin-left: 1.4em;
    margin-right: 0;
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.description {
    padding: 6% 2% 0 9%;
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}

.description h1 {
    font-weight: 700;
    color: #FFFFFF;
    line-height: 120%;
    margin-bottom: 1rem;
}

.description p {
    font-weight: 400;
    color: #8794BA;
    line-height: 150%;
}

.free {
    margin-top: 2em;
    background-color: #EF2A82;
    padding: 1em 4em;
    border-radius: 4em;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
}

.images {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.images .pic1 {
    z-index: 2;
}

.images #img2 {
    position: relative;
    left: -37%;
    box-shadow: 1em black;
}

.main-features {
    text-align: center;
    margin: 5% 10%;
}

.main-features h1 {
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0.7em;
}

.main-features p {
    color: #8794BA;
    font-size: 16px;
    line-height: 140%;
}

.features {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.feature {
    margin: 1em;
}

.feature h4 {
    font-size: large;
    padding-top: 0.6em;
}

.feature p {
    padding-top: 0.6em;
}