:root {
    --color-1: #172755;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', monospace;
}

body {
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(171deg, #172755 75%, #EF2A82 75%, #EF2A82 77%, #f2f2f2 77%, #f2f2f2);
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.brand-and-logo {
    display: inline-flex;
    align-items: center;
}

.logo {
    height: 1.9em;
    width: 1.9em;
}

.navbar-brand {
    color: #FFFFFF;
    margin: 2em 0.5em;
}

.nav-elements2 {
    z-index: 10;
    display: none;
}

.nav-elements ul li {
    display: inline-block;
}

.nav-link {
    display: block;
	font-size: 16px;
	color: #8794BA;
    margin: 0 1em;
	text-transform: capitalize;
	transition: all 0.5s ease;
}

.nav-link:hover, .nav-link:active {
    color: #FFFFFF;
}

#nav-check{
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.nav-toggler{
    box-shadow: 0 0 1px white;
	height: 34px;
	width: 44px;
	background-color: var(--color-1);
	border-radius: 4px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.nav-toggler span{
	display: block;
	height: 2px;
	width: 20px;
	background-color: #8794BA;
	position: relative;
}
.nav-toggler span::before,
.nav-toggler span::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #8794BA;
   left:0;
}
.nav-toggler span::before{
	top: -6px;
}
.nav-toggler span::after{
	top: 6px;
}

.sign-in {
    display: inline-flex;
    align-items: center;
}

.sign-in span {
    color: #8794BA;
}

#sign-up {
    border: 1px solid #465B95;
    background-color: #172755;
    color: #8794BA;
    padding: 0.8em 3.4em;
    border-radius: 4em;
    margin-left: 1.4em;
    margin-right: 0;
    font-size: 14px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.description {
    padding: 6% 2% 0 9%;
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}

.description h1 {
    font-weight: 700;
    color: #FFFFFF;
    line-height: 120%;
    margin-bottom: 1rem;
}

.description p {
    font-weight: 400;
    color: #8794BA;
    line-height: 150%;
}

.free {
    margin-top: 2em;
    background-color: #EF2A82;
    padding: 1em 4em;
    border-radius: 4em;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
}

.images {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.images .pic1 {
    z-index: 2;
}

.images #img2 {
    position: relative;
    left: -37%;
    box-shadow: 1em black;
}

.main-features {
    text-align: center;
    margin: 5% 10%;
}

.main-features h1 {
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0.7em;
}

.main-features p {
    color: #8794BA;
    font-size: 16px;
    line-height: 140%;
}

.features {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.feature {
    margin: 1em;
}

.feature h4 {
    font-size: large;
    padding-top: 0.6em;
}

.feature p {
    padding-top: 0.6em;
}

.more-features {
    margin-top: 9%;
}

@media (min-width: 1055px) {
    .feature-with-chart:nth-child(2) {
        flex-direction: row-reverse;
    }
}

.feature-with-chart {
    padding: 0 8% 4% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-with-chart .chart {
    flex: 0 0 50%;
}

.feature-with-chart .feature {
    text-align: start;
    display: flex;
    flex-direction: column;
}

.feature-with-chart .feature h1 {
    color: #172755;
    font-weight: 700;
    font-size: 40px;
}

.feature-with-chart .feature p {
    color: #8794BA;
}

.feature-with-chart .chart img {
    width: 100%;
    box-shadow: 2px solid black;
}

.footer {
    background: linear-gradient(354deg, #172755 82%, #EF2A82 82%, #EF2A82 84%, #f2f2f2 84%, #f2f2f2);
    padding: 200px 15% 3em 15%;
}

.pricing {
    padding: 0 14%;
    text-align: center;
}

.pricing h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2em;
    line-height: 120%;
    margin-bottom: 0.7em;
}

.pricing p {
    color: #8794BA;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.cards {
    margin: 3em 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

/* --------------------------------------------
-------------------------------------------- */

.card {
    text-align: center;
    background-color: #0F1F4B;
    flex: 0 0 10em;
    height: 20em;
    border-radius: 20px;
    padding: 3% 5%;
    box-shadow: 1px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    z-index: 2;
}

.card-middle {
    text-align: center;
    background-color: #FFFFFF;
    flex: 0 0 10em;
    height: 20em;
    border-radius: 20px;
    padding: 3% 5%;
    box-shadow: 2px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    z-index: 5;
}

.head h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.head-middle h3 {
    color: #172755;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.head p {
    margin-top: 0.3em;
    color: #8794BA;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

.head-middle p {
    margin-top: 0.3em;
    color: #8794BA;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

.splitter {
    height: 1px;
    background-color: #2A407C;
    margin: 1.5em 0;
    border: none;
}

.splitter-middle {
    height: 1px;
    background-color: #D3D9E9;
    margin: 1.5em 0;
    border: none;
}

.details span {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5em;
}

.details-middle span {
    color: #172755;
    font-weight: 500;
    font-size: 1.5em;
}

.details h1 {
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3em;
}

.details-middle h1 {
    display: inline-block;
    color: #172755;
    font-weight: 700;
    font-size: 3em;
}

.details p {
    color: #8794BA;
    font-weight: 400;
}

.details-middle p {
    color: #8794BA;
    font-weight: 400;
}

.order {
    margin: 1.4em 0;
    border: 1px solid #2A407C;
    padding: 0.8em 4.5em;
    border-radius: 3em;
    background-color: #0F1F4B;
    color: #FFFFFF;
    font-size: 14px;
}

.order-middle {
    margin: 1.4em 0;
    padding: 0.8em 4.5em;
    border-radius: 3em;
    background-color: #EF2A82;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
}

.divider {
    height: 1px;
    background-color: #2A407C;
    margin: 4em 0;
    border: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-brand-footer {
    color: #8794BA;
    margin-left: 0.5em;
}

.social-icons {
    display: inline-flex;
    flex-shrink: 1;
}

.fa-brands {
    color: #8794BA;
    margin: 0 0.5em;
}

/* ------------Responsive Stuff------------ */

@media(max-width: 1055px){
    nav {
        justify-content: space-around;
        box-shadow: 0 0 2px 0 black;
    }
    .nav-toggler{
    	display: inline-flex;
        margin-left: 1em;
    }
    .nav-elements {
        display: none;
    }
    .nav-elements2{
        text-align: center;
        display: block;
    	position: absolute;
    	left:0;
    	top: 5em;
    	width: 100%;
    	background-color: var(--color-1);
    	border-top: 1px solid rgba(255, 255, 255, 0.4);
    	opacity: 0;
    	visibility: hidden;
        transition: all 0.5s ease;
    }
    .nav-elements2 ul li {
        display: block;
        margin: 1em 0;
    }
    #nav-check:checked ~ .nav-elements2 {
       opacity: 1;
       visibility: visible;
    }
    #nav-check:focus ~ .nav-toggler{
    	box-shadow: 0 0 2px #8794BA;
    }
    #nav-check:checked ~ .nav-toggler span{
    	background-color: transparent;
    }
    #nav-check:checked ~ .nav-toggler span::before{
    	top:0;
    	transform: rotate(45deg);
    }
    #nav-check:checked ~ .nav-toggler span::after{
    	top:0;
    	transform: rotate(-45deg);
    }
    #sign-up {
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        overflow: visible;
        padding-bottom: 25em;
    }
    .description {
        width: 80%;
    }
    .images .pic1 {
        overflow: visible;
        display: none;
    }
    .images .pic2 {
        margin-top: 2em;
        padding-left: 43%;
        overflow: visible;
        display: flex;
    }
    .images #img2 {
        width: 100%;
    }
    .features {
        display: flex;
        flex-direction: column;
    }
    #feature-heading, #feature-description {
        text-align: left;
    }
    .feature {
        display: flex;
        align-items: center;
    }
    .feature-credentials {
        margin-left: 2em;
        text-align: left;
        flex-wrap: wrap;
    }
    .feature-with-chart, .feature-with-chart:nth-child(2) {
        flex-direction: column;
    }
    .pricing h3, .pricing p {
        text-align: left;
    }
}

@media (max-width: 1250px) {
    .card, .card-middle {
        margin: 0 1em;
    }
}

@media (max-width: 631px) {
    .hero {
        padding-bottom: 15em;
    }
    header {
        background: linear-gradient(171deg, #172755 88%, #EF2A82 88%, #EF2A82 90%, #f2f2f2 90%, #f2f2f2);
    }
} 